$wtf: #2D2241;

$bgColor: #2871cf;
$appTitleColor: #ffffff;
$counterColor: #3a373f;
$addButtonColor: #33a142;
$subtractButtonColor: #c03742;
$textInAddButtonColor: #bcffca;
$textInSubtractButtonColor: #ec9d9d;